[include]
    path = ~/.gitconfig.local

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto
[credential]
    helper = store
[core]
    filemode = false
    autocrlf = input
[init]
    defaultBranch = main
[pull]
    rebase = false
[ghq]
	root = ~/projects
